Data/Futures/CL #F_5.csv
df.csv
Data/Futures/ALI #F_5.csv
Data/Futures/GC #F_5.csv
Data/Futures/GE #F_5.csv
Data/Futures/HG #F_5.csv
Data/Futures/HRC #F_5.csv
Data/Futures/KC #F_5.csv
Data/Futures/LBS #F_5.csv
Data/Futures/LH #F_5.csv
Data/Futures/NG #F_5.csv
Data/Futures/PA #F_5.csv
Data/Futures/PL #F_5.csv
Data/Futures/SI #F_5.csv
Data/Futures/YO #F_5.csv
Data/Futures/ZB #F_5.csv
Data/Futures/ZC #F_5.csv
Data/Futures/ZF #F_5.csv
Data/Futures/ZN #F_5.csv
Data/Futures/ZO #F_5.csv
Data/Futures/ZS #F_5.csv
Data/Futures/ZT #F_5.csv
Data/Futures/ZW #F_5.csv
Data/Stocks/A_5.csv
Data/Stocks/AAL_5.csv
Data/Stocks/AAP_5.csv
Data/Stocks/AAPL_5.csv
Data/Stocks/ABBV_5.csv
Data/Stocks/ABC_5.csv
Data/Stocks/ABMD_5.csv
Data/Stocks/ABT_5.csv
Data/Stocks/ACN_5.csv
Data/Stocks/ADBE_5.csv
Data/Stocks/ADI_5.csv
Data/Stocks/ADM_5.csv
Data/Stocks/ADP_5.csv
Data/Stocks/ADS_5.csv
Data/Stocks/ADSK_5.csv
Data/Stocks/AEE_5.csv
Data/Stocks/AEM_5.csv
Data/Stocks/AEP_5.csv
Data/Stocks/AES_5.csv
Data/Stocks/AFL_5.csv
Data/Stocks/AG_5.csv
Data/Stocks/AGI_5.csv
Data/Stocks/AGN_5.csv
Data/Stocks/AIG_5.csv
Data/Stocks/AIV_5.csv
Data/Stocks/AIZ_5.csv
Data/Stocks/AJG_5.csv
Data/Stocks/AKAM_5.csv
Data/Stocks/ALB_5.csv
Data/Stocks/ALGN_5.csv
Data/Stocks/ALK_5.csv
Data/Stocks/ALL_5.csv
Data/Stocks/ALLE_5.csv
Data/Stocks/ALXN_5.csv
Data/Stocks/AMAT_5.csv
Data/Stocks/AMCR_5.csv
Data/Stocks/AMD_5.csv
Data/Stocks/AME_5.csv
Data/Stocks/AMGN_5.csv
Data/Stocks/AMP_5.csv
Data/Stocks/AMT_5.csv
Data/Stocks/AMZN_5.csv
Data/Stocks/ANET_5.csv
Data/Stocks/ANSS_5.csv
Data/Stocks/ANTM_5.csv
Data/Stocks/AON_5.csv
Data/Stocks/AOS_5.csv
Data/Stocks/APA_5.csv
Data/Stocks/APD_5.csv
Data/Stocks/APH_5.csv
Data/Stocks/APTV_5.csv
Data/Stocks/ARE_5.csv
Data/Stocks/ATO_5.csv
Data/Stocks/ATVI_5.csv
Data/Stocks/AU_5.csv
Data/Stocks/AUY_5.csv
Data/Stocks/AVB_5.csv
Data/Stocks/AVGO_5.csv
Data/Stocks/AVY_5.csv
Data/Stocks/AWK_5.csv
Data/Stocks/AXP_5.csv
Data/Stocks/AZO_5.csv
Data/Stocks/BA_5.csv
Data/Stocks/BAC_5.csv
Data/Stocks/BAX_5.csv
Data/Stocks/BBY_5.csv
Data/Stocks/BDX_5.csv
Data/Stocks/BEN_5.csv
Data/Stocks/BF.B_5.csv
Data/Stocks/BHP_5.csv
Data/Stocks/BIIB_5.csv
Data/Stocks/BK_5.csv
Data/Stocks/BKNG_5.csv
Data/Stocks/BKR_5.csv
Data/Stocks/BLK_5.csv
Data/Stocks/BLL_5.csv
Data/Stocks/BMY_5.csv
Data/Stocks/BR_5.csv
Data/Stocks/BRK.B_5.csv
Data/Stocks/BSX_5.csv
Data/Stocks/BTG_5.csv
Data/Stocks/BVN_5.csv
Data/Stocks/BWA_5.csv
Data/Stocks/BXP_5.csv
Data/Stocks/C_5.csv
Data/Stocks/CAG_5.csv
Data/Stocks/CAH_5.csv
Data/Stocks/CARR_5.csv
Data/Stocks/CAT_5.csv
Data/Stocks/CB_5.csv
Data/Stocks/CBOE_5.csv
Data/Stocks/CBRE_5.csv
Data/Stocks/CCI_5.csv
Data/Stocks/CCJ_5.csv
Data/Stocks/CCL_5.csv
Data/Stocks/CDE_5.csv
Data/Stocks/CDNS_5.csv
Data/Stocks/CDW_5.csv
Data/Stocks/CE_5.csv
Data/Stocks/CERN_5.csv
Data/Stocks/CF_5.csv
Data/Stocks/CFG_5.csv
Data/Stocks/CHD_5.csv
Data/Stocks/CHRW_5.csv
Data/Stocks/CHTR_5.csv
Data/Stocks/CI_5.csv
Data/Stocks/CINF_5.csv
Data/Stocks/CL_5.csv
Data/Stocks/CLX_5.csv
Data/Stocks/CMA_5.csv
Data/Stocks/CMCSA_5.csv
Data/Stocks/CME_5.csv
Data/Stocks/CMG_5.csv
Data/Stocks/CMI_5.csv
Data/Stocks/CMS_5.csv
Data/Stocks/CNC_5.csv
Data/Stocks/CNP_5.csv
Data/Stocks/COF_5.csv
Data/Stocks/COG_5.csv
Data/Stocks/COO_5.csv
Data/Stocks/COP_5.csv
Data/Stocks/COST_5.csv
Data/Stocks/COTY_5.csv
Data/Stocks/CPB_5.csv
Data/Stocks/CPRI_5.csv
Data/Stocks/CPRT_5.csv
Data/Stocks/CRM_5.csv
Data/Stocks/CSCO_5.csv
Data/Stocks/CSX_5.csv
Data/Stocks/CTAS_5.csv
Data/Stocks/CTL_5.csv
Data/Stocks/CTSH_5.csv
Data/Stocks/CTVA_5.csv
Data/Stocks/CTXS_5.csv
Data/Stocks/CVS_5.csv
Data/Stocks/CVX_5.csv
Data/Stocks/CXO_5.csv
Data/Stocks/D_5.csv
Data/Stocks/DAL_5.csv
Data/Stocks/DD_5.csv
Data/Stocks/DE_5.csv
Data/Stocks/DFS_5.csv
Data/Stocks/DG_5.csv
Data/Stocks/DGX_5.csv
Data/Stocks/DHI_5.csv
Data/Stocks/DHR_5.csv
Data/Stocks/DIS_5.csv
Data/Stocks/DISCA_5.csv
Data/Stocks/DISCK_5.csv
Data/Stocks/DISH_5.csv
Data/Stocks/DLR_5.csv
Data/Stocks/DLTR_5.csv
Data/Stocks/DNN_5.csv
Data/Stocks/DOV_5.csv
Data/Stocks/DOW_5.csv
Data/Stocks/DRE_5.csv
Data/Stocks/DRI_5.csv
Data/Stocks/DTE_5.csv
Data/Stocks/DUK_5.csv
Data/Stocks/DVA_5.csv
Data/Stocks/DVN_5.csv
Data/Stocks/DXC_5.csv
Data/Stocks/EA_5.csv
Data/Stocks/EBAY_5.csv
Data/Stocks/ECL_5.csv
Data/Stocks/ED_5.csv
Data/Stocks/EFX_5.csv
Data/Stocks/EGO_5.csv
Data/Stocks/EIX_5.csv
Data/Stocks/EL_5.csv
Data/Stocks/EMN_5.csv
Data/Stocks/EMR_5.csv
Data/Stocks/EOG_5.csv
Data/Stocks/EQIX_5.csv
Data/Stocks/EQR_5.csv
Data/Stocks/EQX_5.csv
Data/Stocks/ES_5.csv
Data/Stocks/ESS_5.csv
Data/Stocks/ETFC_5.csv
Data/Stocks/ETN_5.csv
Data/Stocks/ETR_5.csv
Data/Stocks/EVRG_5.csv
Data/Stocks/EW_5.csv
Data/Stocks/EXC_5.csv
Data/Stocks/EXPD_5.csv
Data/Stocks/EXPE_5.csv
Data/Stocks/EXR_5.csv
Data/Stocks/F_5.csv
Data/Stocks/FANG_5.csv
Data/Stocks/FAST_5.csv
Data/Stocks/FB_5.csv
Data/Stocks/FBHS_5.csv
Data/Stocks/FCX_5.csv
Data/Stocks/FDX_5.csv
Data/Stocks/FE_5.csv
Data/Stocks/FFIV_5.csv
Data/Stocks/FIS_5.csv
Data/Stocks/FISV_5.csv
Data/Stocks/FITB_5.csv
Data/Stocks/FLIR_5.csv
Data/Stocks/FLS_5.csv
Data/Stocks/FLT_5.csv
Data/Stocks/FMC_5.csv
Data/Stocks/FNV_5.csv
Data/Stocks/FOX_5.csv
Data/Stocks/FOXA_5.csv
Data/Stocks/FRC_5.csv
Data/Stocks/FRT_5.csv
Data/Stocks/FSM_5.csv
Data/Stocks/FTI_5.csv
Data/Stocks/FTNT_5.csv
Data/Stocks/FTV_5.csv
Data/Stocks/GD_5.csv
Data/Stocks/GE_5.csv
Data/Stocks/GFI_5.csv
Data/Stocks/GILD_5.csv
Data/Stocks/GIS_5.csv
Data/Stocks/GL_5.csv
Data/Stocks/GLW_5.csv
Data/Stocks/GM_5.csv
Data/Stocks/GOOG_5.csv
Data/Stocks/GOOGL_5.csv
Data/Stocks/GPC_5.csv
Data/Stocks/GPN_5.csv
Data/Stocks/GPS_5.csv
Data/Stocks/GRMN_5.csv
Data/Stocks/GS_5.csv
Data/Stocks/GSS_5.csv
Data/Stocks/GWW_5.csv
Data/Stocks/HAL_5.csv
Data/Stocks/HAS_5.csv
Data/Stocks/HBAN_5.csv
Data/Stocks/HBI_5.csv
Data/Stocks/HBM_5.csv
Data/Stocks/HCA_5.csv
Data/Stocks/HD_5.csv
Data/Stocks/HES_5.csv
Data/Stocks/HFC_5.csv
Data/Stocks/HIG_5.csv
Data/Stocks/HII_5.csv
Data/Stocks/HLT_5.csv
Data/Stocks/HMY_5.csv
Data/Stocks/HOG_5.csv
Data/Stocks/HOLX_5.csv
Data/Stocks/HON_5.csv
Data/Stocks/HP_5.csv
Data/Stocks/HPE_5.csv
Data/Stocks/HPQ_5.csv
Data/Stocks/HRB_5.csv
Data/Stocks/HRL_5.csv
Data/Stocks/HSIC_5.csv
Data/Stocks/HST_5.csv
Data/Stocks/HSY_5.csv
Data/Stocks/HUM_5.csv
Data/Stocks/HWM_5.csv
Data/Stocks/IAG_5.csv
Data/Stocks/IBM_5.csv
Data/Stocks/ICE_5.csv
Data/Stocks/IDXX_5.csv
Data/Stocks/IEX_5.csv
Data/Stocks/IFF_5.csv
Data/Stocks/ILMN_5.csv
Data/Stocks/INCY_5.csv
Data/Stocks/INFO_5.csv
Data/Stocks/INTC_5.csv
Data/Stocks/INTU_5.csv
Data/Stocks/IP_5.csv
Data/Stocks/IPG_5.csv
Data/Stocks/IPGP_5.csv
Data/Stocks/IQV_5.csv
Data/Stocks/IR_5.csv
Data/Stocks/IRM_5.csv
Data/Stocks/ISRG_5.csv
Data/Stocks/IT_5.csv
Data/Stocks/ITW_5.csv
Data/Stocks/IVZ_5.csv
Data/Stocks/J_5.csv
Data/Stocks/JBHT_5.csv
Data/Stocks/JCI_5.csv
Data/Stocks/JKHY_5.csv
Data/Stocks/JNJ_5.csv
Data/Stocks/JNPR_5.csv
Data/Stocks/JPM_5.csv
Data/Stocks/JWN_5.csv
Data/Stocks/K_5.csv
Data/Stocks/KEY_5.csv
Data/Stocks/KEYS_5.csv
Data/Stocks/KGC_5.csv
Data/Stocks/KHC_5.csv
Data/Stocks/KIM_5.csv
Data/Stocks/KL_5.csv
Data/Stocks/KLAC_5.csv
Data/Stocks/KMB_5.csv
Data/Stocks/KMI_5.csv
Data/Stocks/KMX_5.csv
Data/Stocks/KO_5.csv
Data/Stocks/KR_5.csv
Data/Stocks/KSS_5.csv
Data/Stocks/KSU_5.csv
Data/Stocks/L_5.csv
Data/Stocks/LAC_5.csv
Data/Stocks/LB_5.csv
Data/Stocks/LDOS_5.csv
Data/Stocks/LEG_5.csv
Data/Stocks/LEN_5.csv
Data/Stocks/LH_5.csv
Data/Stocks/LHX_5.csv
Data/Stocks/LIN_5.csv
Data/Stocks/LKQ_5.csv
Data/Stocks/LLY_5.csv
Data/Stocks/LMT_5.csv
Data/Stocks/LNC_5.csv
Data/Stocks/LNT_5.csv
Data/Stocks/LOW_5.csv
Data/Stocks/LRCX_5.csv
Data/Stocks/LUV_5.csv
Data/Stocks/LVS_5.csv
Data/Stocks/LW_5.csv
Data/Stocks/LYB_5.csv
Data/Stocks/LYV_5.csv
Data/Stocks/MA_5.csv
Data/Stocks/MAA_5.csv
Data/Stocks/MAG_5.csv
Data/Stocks/MAR_5.csv
Data/Stocks/MAS_5.csv
Data/Stocks/MCD_5.csv
Data/Stocks/MCHP_5.csv
Data/Stocks/MCK_5.csv
Data/Stocks/MCO_5.csv
Data/Stocks/MDLZ_5.csv
Data/Stocks/MDT_5.csv
Data/Stocks/MET_5.csv
Data/Stocks/MGM_5.csv
Data/Stocks/MHK_5.csv
Data/Stocks/MKC_5.csv
Data/Stocks/MKTX_5.csv
Data/Stocks/MLM_5.csv
Data/Stocks/MMC_5.csv
Data/Stocks/MMM_5.csv
Data/Stocks/MMX_5.csv
Data/Stocks/MNST_5.csv
Data/Stocks/MO_5.csv
Data/Stocks/MOS_5.csv
Data/Stocks/MP_5.csv
Data/Stocks/MPC_5.csv
Data/Stocks/MRK_5.csv
Data/Stocks/MRO_5.csv
Data/Stocks/MS_5.csv
Data/Stocks/MSCI_5.csv
Data/Stocks/MSFT_5.csv
Data/Stocks/MSI_5.csv
Data/Stocks/MTB_5.csv
Data/Stocks/MTD_5.csv
Data/Stocks/MU_5.csv
Data/Stocks/MXIM_5.csv
Data/Stocks/MYL_5.csv
Data/Stocks/NBL_5.csv
Data/Stocks/NCLH_5.csv
Data/Stocks/NDAQ_5.csv
Data/Stocks/NEE_5.csv
Data/Stocks/NEM_5.csv
Data/Stocks/NEXA_5.csv
Data/Stocks/NFLX_5.csv
Data/Stocks/NG_5.csv
Data/Stocks/NGD_5.csv
Data/Stocks/NI_5.csv
Data/Stocks/NKE_5.csv
Data/Stocks/NLOK_5.csv
Data/Stocks/NLSN_5.csv
Data/Stocks/NOC_5.csv
Data/Stocks/NOV_5.csv
Data/Stocks/NOW_5.csv
Data/Stocks/NRG_5.csv
Data/Stocks/NSC_5.csv
Data/Stocks/NTAP_5.csv
Data/Stocks/NTRS_5.csv
Data/Stocks/NUE_5.csv
Data/Stocks/NVDA_5.csv
Data/Stocks/NVR_5.csv
Data/Stocks/NWL_5.csv
Data/Stocks/NWS_5.csv
Data/Stocks/NWSA_5.csv
Data/Stocks/NXE_5.csv
Data/Stocks/O_5.csv
Data/Stocks/ODFL_5.csv
Data/Stocks/OKE_5.csv
Data/Stocks/OMC_5.csv
Data/Stocks/OR_5.csv
Data/Stocks/ORCL_5.csv
Data/Stocks/ORLY_5.csv
Data/Stocks/OTIS_5.csv
Data/Stocks/OXY_5.csv
Data/Stocks/PAYC_5.csv
Data/Stocks/PAYX_5.csv
Data/Stocks/PBCT_5.csv
Data/Stocks/PCAR_5.csv
Data/Stocks/PEAK_5.csv
Data/Stocks/PEG_5.csv
Data/Stocks/PEP_5.csv
Data/Stocks/PFE_5.csv
Data/Stocks/PFG_5.csv
Data/Stocks/PG_5.csv
Data/Stocks/PGR_5.csv
Data/Stocks/PH_5.csv
Data/Stocks/PHM_5.csv
Data/Stocks/PKG_5.csv
Data/Stocks/PKI_5.csv
Data/Stocks/PLD_5.csv
Data/Stocks/PM_5.csv
Data/Stocks/PNC_5.csv
Data/Stocks/PNR_5.csv
Data/Stocks/PNW_5.csv
Data/Stocks/PPG_5.csv
Data/Stocks/PPL_5.csv
Data/Stocks/PRGO_5.csv
Data/Stocks/PRU_5.csv
Data/Stocks/PSA_5.csv
Data/Stocks/PSX_5.csv
Data/Stocks/PVH_5.csv
Data/Stocks/PWR_5.csv
Data/Stocks/PXD_5.csv
Data/Stocks/PYPL_5.csv
Data/Stocks/QCOM_5.csv
Data/Stocks/QRVO_5.csv
Data/Stocks/RCL_5.csv
Data/Stocks/RE_5.csv
Data/Stocks/REG_5.csv
Data/Stocks/REGN_5.csv
Data/Stocks/RF_5.csv
Data/Stocks/RGLD_5.csv
Data/Stocks/RHI_5.csv
Data/Stocks/RIO_5.csv
Data/Stocks/RJF_5.csv
Data/Stocks/RL_5.csv
Data/Stocks/RMD_5.csv
Data/Stocks/ROK_5.csv
Data/Stocks/ROL_5.csv
Data/Stocks/ROP_5.csv
Data/Stocks/ROST_5.csv
Data/Stocks/RSG_5.csv
Data/Stocks/SA_5.csv
Data/Stocks/SAND_5.csv
Data/Stocks/SBAC_5.csv
Data/Stocks/SBGL_5.csv
Data/Stocks/SBUX_5.csv
Data/Stocks/SCHW_5.csv
Data/Stocks/SEE_5.csv
Data/Stocks/SHW_5.csv
Data/Stocks/SILV_5.csv
Data/Stocks/SIVB_5.csv
Data/Stocks/SJM_5.csv
Data/Stocks/SLB_5.csv
Data/Stocks/SLG_5.csv
Data/Stocks/SNA_5.csv
Data/Stocks/SNPS_5.csv
Data/Stocks/SO_5.csv
Data/Stocks/SPG_5.csv
Data/Stocks/SPGI_5.csv
Data/Stocks/SRE_5.csv
Data/Stocks/STE_5.csv
Data/Stocks/STT_5.csv
Data/Stocks/STX_5.csv
Data/Stocks/STZ_5.csv
Data/Stocks/SVM_5.csv
Data/Stocks/SWK_5.csv
Data/Stocks/SWKS_5.csv
Data/Stocks/SYF_5.csv
Data/Stocks/SYK_5.csv
Data/Stocks/SYY_5.csv
Data/Stocks/T_5.csv
Data/Stocks/TAP_5.csv
Data/Stocks/TDG_5.csv
Data/Stocks/TECK_5.csv
Data/Stocks/TEL_5.csv
Data/Stocks/TFC_5.csv
Data/Stocks/TFX_5.csv
Data/Stocks/TGT_5.csv
Data/Stocks/TIF_5.csv
Data/Stocks/TJX_5.csv
Data/Stocks/TMO_5.csv
Data/Stocks/TMUS_5.csv
Data/Stocks/TPR_5.csv
Data/Stocks/TROW_5.csv
Data/Stocks/TRQ_5.csv
Data/Stocks/TRV_5.csv
Data/Stocks/TSCO_5.csv
Data/Stocks/TSN_5.csv
Data/Stocks/TT_5.csv
Data/Stocks/TTWO_5.csv
Data/Stocks/TWTR_5.csv
Data/Stocks/TXN_5.csv
Data/Stocks/TXT_5.csv
Data/Stocks/UA_5.csv
Data/Stocks/UAA_5.csv
Data/Stocks/UAL_5.csv
Data/Stocks/UDR_5.csv
Data/Stocks/UHS_5.csv
Data/Stocks/ULTA_5.csv
Data/Stocks/UNH_5.csv
Data/Stocks/UNM_5.csv
Data/Stocks/UNP_5.csv
Data/Stocks/UPS_5.csv
Data/Stocks/URI_5.csv
Data/Stocks/USB_5.csv
Data/Stocks/USD_5.csv
Data/Stocks/V_5.csv
Data/Stocks/VALE_5.csv
Data/Stocks/VAR_5.csv
Data/Stocks/VFC_5.csv
Data/Stocks/VIAC_5.csv
Data/Stocks/VLO_5.csv
Data/Stocks/VMC_5.csv
Data/Stocks/VNO_5.csv
Data/Stocks/VRSK_5.csv
Data/Stocks/VRSN_5.csv
Data/Stocks/VRTX_5.csv
Data/Stocks/VTR_5.csv
Data/Stocks/VZ_5.csv
Data/Stocks/WAB_5.csv
Data/Stocks/WAT_5.csv
Data/Stocks/WBA_5.csv
Data/Stocks/WDC_5.csv
Data/Stocks/WEC_5.csv
Data/Stocks/WELL_5.csv
Data/Stocks/WFC_5.csv
Data/Stocks/WHR_5.csv
Data/Stocks/WLTW_5.csv
Data/Stocks/WM_5.csv
Data/Stocks/WMB_5.csv
Data/Stocks/WMT_5.csv
Data/Stocks/WPM_5.csv
Data/Stocks/WRB_5.csv
Data/Stocks/WRK_5.csv
Data/Stocks/WU_5.csv
Data/Stocks/WY_5.csv
Data/Stocks/WYNN_5.csv
Data/Stocks/XEL_5.csv
Data/Stocks/XLNX_5.csv
Data/Stocks/XOM_5.csv
Data/Stocks/XRAY_5.csv
Data/Stocks/XRX_5.csv
Data/Stocks/XYL_5.csv
Data/Stocks/YUM_5.csv
Data/Stocks/ZBH_5.csv
Data/Stocks/ZBRA_5.csv
Data/Stocks/ZION_5.csv
Data/Stocks/ZTS_5.csv
Data/TestSet/BAC_5.csv
Data/TestSet/C_5.csv
Data/TestSet/GC #F_5.csv
Data/TestSet/GE #F_5.csv
Data/TestSet/GFI_5.csv
Data/TestSet/GS_5.csv
Data/TestSet/HBM_5.csv
Data/TestSet/HG #F_5.csv
Data/TestSet/HMY_5.csv
Data/TestSet/JPM_5.csv
Data/TestSet/KGC_5.csv
Data/TestSet/MAG_5.csv
Data/TestSet/MET_5.csv
Data/TestSet/MS_5.csv
Data/TestSet/MTB_5.csv
Data/TestSet/NEM_5.csv
Data/TestSet/NG_5.csv
Data/TestSet/NGD_5.csv
Data/TestSet/NTRS_5.csv
Data/TestSet/PA #F_5.csv
Data/TestSet/PL #F_5.csv
Data/TestSet/PRU_5.csv
Data/TestSet/SA_5.csv
Data/TestSet/SAND_5.csv
Data/TestSet/SCCO_5.csv
Data/TestSet/SI #F_5.csv
Data/TestSet/SVM_5.csv
Data/TestSet/ZB #F_5.csv
Data/TestSet/ZF #F_5.csv
Data/TestSet/ZION_5.csv
Data/TestSet/ZN #F_5.csv
__pycache__/data_prep.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
Data/.DS_Store
Data/Futures/.DS_Store
Data/Stocks/.DS_Store
Data/TestSet/.DS_Store
